@import 'theme_variables';
#my-account {
  .addresses-lists {
    margin-bottom: 30px;
  }
  ul.myaccount-link-list {
    li {
      overflow: hidden;

      padding-bottom: 10px;
      a {
        font: 600 16px/20px $font-custom;

        position: relative;

        display: block;
        overflow: hidden;

        text-decoration: none;
        text-transform: uppercase;

        color: #555454;
        border: 1px solid;
        border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
        text-shadow: 0 1px rgba(255,255,255,1);

        @include background-image(linear-gradient(rgb(247,247,247), rgb(237,237,237)));
        @include border-radius(4px);
        i {
          font-size: 25px;

          position: absolute;
          top: 0;
          left: 0;

          width: 52px;
          height: 100%;
          padding: 10px 0 0 0;

          text-align: center;

          color: #fd7e01;
          border: 1px solid $light-border-color;

          @include border-top-left-radius(4px);
          @include border-bottom-left-radius(4px);
        }
        span {
          display: block;
          overflow: hidden;

          margin-left: 52px;
          padding: 13px 15px 15px 17px;

          border: 1px solid;
          border-color: $light-border-color $light-border-color $light-border-color #c8c8c8;

          @include border-top-right-radius(5px);
          @include border-bottom-right-radius(5px);
        }
        &:hover {
          border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2;
          background: #e7e7e7;

          filter: none;
        }
      }
    }
  }
}
