@import 'theme_variables';

/*******************************************************
Product list Styles
********************************************************/

ul.product_list {
  .product-name {
    display: inline-block;
    overflow: hidden;

    width: 100%;
  }
  .availability {
    span {
      font-weight: bold;

      display: inline-block;

      margin-bottom: 20px;
      padding: 3px 8px 4px 8px;

      color: $light-text-color;
    }
  }
  .color-list-container {
    margin-bottom: 12px;
    ul {
      li {
        display: inline-block;

        width: 26px;
        height: 26px;

        border: 1px solid $base-border-color;
        a {
          display: block;

          width: 22px;
          height: 22px;
          margin: 1px;
          img {
            display: block;

            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
  .product-image-container {
    text-align: center;
    img {
      margin: 0 auto;
    }
    .quick-view-wrapper-mobile {
      display: none;
      .quick-view-mobile {
        display: none;
        @media (max-width: $screen-md-max) {
          position: relative;
          top: 80px;
          right: -162px;

          display: block;
          zoom: 1;

          width: 85px;
          height: 130px;

          transform: rotate(45deg);
          pointer-events: all;

          background-color: rgba(208, 208, 211, .57);
          i {
            font-size: x-large;

            position: relative;
            top: 48px;
            left: -20px;

            color: black;
          }
          i:before {
            transform: rotate(315deg);
          }
        }
      }
      .quick-view-mobile:hover {
        @media (max-width: $screen-md-max) {
          background-color: rgba(167, 167, 167, .57);
        }
      }
      @media (max-width: $screen-md-max) {
        position: absolute;
        right: 0;
        bottom: 0;

        display: block;
        overflow: hidden;

        width: 215px;
        height: 155px;

        pointer-events: none;

        background-color: transparent;
      }
    }
    .quick-view {
      font: 700 13px/16px $font-family;

      position: absolute;
      top: 50%;
      left: 50%;

      width: 107px;
      height: 43px;
      margin: -21px 0 0 -53px;
      padding: 13px 0 0;

      text-align: center;

      color: #777676;
      background: rgba(255,255,255,.82);
      @media (max-width: $screen-md-max) {
        display: none;
      }
      @media (min-width: $screen-lg) {
        // min 1200px
        display: none;
      }
      @media (max-width: $screen-xs-max) {
        // max 767px
        display: none;
      }
    }
  }
  .comments_note {
    overflow: hidden;

    text-align: left;
    .star_content {
      float: left;
    }
    .nb-comments {
      font-style: italic;

      overflow: hidden;
    }
  }
  .functional-buttons {
    div {
      a,
      label {
        font-weight: bold;

        cursor: pointer;

        color: #777676;
        &:hover {
          color: #000;
        }
      }
      &.wishlist {
        border-right: 1px solid $base-border-color;
        a:before {
          font-family: $font-icon;

          display: inline-block;

          margin-right: 3px;
          padding: 0 3px;

          content: '\f08a';
        }
        a.checked:before {
          content: '\f004';
        }
        @media (min-width: $screen-md) and (max-width: $screen-md-max) {
          // min 992px max 1199px
          border-right: 0;
          a:before {
            display: none;
          }
        }
        @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
          // min 480px max 767px
          border-right: 0;
          a:before {
            display: none;
          }
        }
      }
      &.compare {
        a {
          &:before {
            font-family: $font-icon;

            display: inline-block;

            margin-right: 3px;

            content: '\f067';
            @media (min-width: $screen-md) and (max-width: $screen-md-max) {
              // min 992px max 1199px
              display: none;
            }
            @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
              // min 480px max 767px
              display: none;
            }
          }
          &.checked {
            &:before {
              content: '\f068';
            }
          }
        }
      }
    }
  }
}

/*******************************************************
Product list(Grid) Styles
********************************************************/

ul.product_list.grid {
  > li {
    padding-bottom: 20px;

    text-align: center;
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      float: left;
      // min 480px max 767px

      width: 50%;
    }
    .product-container {
      position: relative;

      padding: 0;

      background: $light-background;
      .product-image-container {
        position: relative;

        margin-bottom: 13px;
        padding: 9px;

        border: 1px solid $base-listing-border-color;
        @media (max-width: $screen-xs-max) {
          margin-right: auto;
          // max 767px
          margin-left: auto;
        }
        .content_price {
          position: absolute;
          bottom: -1px;
          left: 0;

          display: none;

          width: 100%;
          padding: 9px 0;

          background: url(../img/price-container-bg.png);
          span {
            color: $light-text-color;
            &.old-price {
              color: #b1b0b0;
            }
          }
        }
      }
      h5 {
        min-height: 53px;
        padding: 0 15px 7px 15px;
      }
      .comments_note {
        @media (min-width: $screen-lg) {
          // min 1200px
          display: none;
        }
        .star_content {
          margin: 0 3px 12px 59px;
        }
      }
      .product-desc {
        display: none;
      }
      .content_price {
        line-height: 21px;

        padding-bottom: 9px;
      }
      .old-price,
      .price,
      .price-percent-reduction {
        display: inline-block;
      }
      .product-flags {
        display: none;
      }
      .old-price {
        margin-right: 5px;
      }
      .button-container {
        margin-bottom: 14px;
        @media (min-width: $screen-lg) {
          // min 1200px
          display: none;
        }
        .ajax_add_to_cart_button,
        span.button,
        .lnk_view {
          margin: 0 6px 10px 6px;
        }
      }
      .functional-buttons {
        padding: 11px 0 5px;

        background: url(../img/functional-bt-shadow.png) repeat-x;
        @media (min-width: $screen-lg) {
          // min 1200px
          display: none;
        }
        div {
          float: left;

          width: 50%;
          padding: 3px 0 4px 0;
        }
      }
    }
    @media (min-width: $screen-lg) {
      // min 1200px
      &.hovered {
        .product-container {
          position: relative;
          z-index: 10;

          @include box-shadow(rgba(black, .17) 0 0 13px);
          .content_price {
            display: none;
          }
          .product-image-container {
            .content_price {
              display: block;
            }
            .quick-view {
              display: block;
            }
          }
          .functional-buttons,
          .button-container,
          .comments_note {
            display: block;
          }
        }
      }
    }
    @media (min-width: $screen-md) {
      // min 991px
      &.first-in-line {
        clear: left;
      }
    }
    @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
      // min 480px max 991px
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
  }
  li.hovered {
    h5 {
      min-height: 30px;
    }
  }
}
#blockpack {
  ul {
    > li {
      @media (min-width: $screen-lg) {
        // min 1200px
        &.last-line {
          margin-bottom: 0;
          padding-bottom: 0;

          border: none;
        }
      }
      @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        // min 480px max 767px
        &.first-item-of-tablet-line {
          clear: none;
        }
        &.first-item-of-mobile-line {
          clear: left;
        }
      }
    }
  }
}

/*******************************************************
Product list(List) Styles
********************************************************/

ul.product_list.list {
  > li {
    .left-block {
      @media (max-width: $screen-xs - 1) {
        // max 479px
        width: 100%;
      }
    }
    .product-container {
      padding: 30px 0 30px;

      border-top: 1px solid $base-border-color;
    }
    .product-image-container {
      position: relative;

      padding: 9px;

      border: 1px solid $base-listing-border-color;
      @media (max-width: $screen-xs - 1) {
        // max 479px
        max-width: 290px;
        margin: 0 auto;
      }
      .content_price {
        display: none !important;
      }
    }
    .product-flags {
      margin: -5px 0 10px 0;

      color: $base-text-color;
      .discount {
        color: #f13340;
      }
    }
    h5 {
      padding-bottom: 8px;
    }
    .product-desc {
      margin-bottom: 15px;
    }
    .center-block {
      @media (max-width: $screen-xs - 1) {
        // max 479px
        width: 100%;
      }
      .comments_note {
        margin-bottom: 12px;
      }
    }
    .right-block {
      .right-block-content {
        @media (min-width: $screen-md) {
          // min 991px
          margin: 0;
          padding-bottom: 16px;
          padding-left: 15px;

          border-left: 1px solid $base-border-color;
        }
        @media (max-width: $screen-sm-max) {
          // max 991px
          padding-top: 20px;
        }
        @media (max-width: $screen-xs - 1) {
          // max 479px
          padding-top: 5px;
        }
        .content_price {
          padding-bottom: 10px;
          @media (max-width: $screen-sm-max) {
            // max 991px
            padding-top: 13px;
            padding-bottom: 0;
          }
          @media (max-width: $screen-xs - 1) {
            width: 100%;
            // max 479px
            padding-top: 0;
          }
          .price {
            display: inline-block;

            margin-top: -4px;
            margin-bottom: 14px;
            &.old-price {
              margin-right: 8px;
            }
          }
        }
        .button-container {
          overflow: hidden;

          padding-bottom: 20px;
          @media (max-width: $screen-xs - 1) {
            // max 479px
            width: 100%;
          }
          .btn {
            margin-bottom: 10px;
            @media (min-width: $screen-md) {
              // min 991px
              float: left;
              clear: both;
            }
          }
        }
        .functional-buttons {
          @media (min-width: $screen-md) {
            // min 991px
            overflow: hidden;
          }
          @media (max-width: $screen-sm-max) {
            // max 991px
            clear: both;
            > div {
              float: left;

              padding-top: 0 !important;
              padding-right: 20px;
            }
          }
          @media (max-width: $screen-xs - 1) {
            display: inline-block;
            // max 479px
            float: none;
            a,
            label {
              i,
              &:before {
                display: none !important;
              }
            }
          }
          a {
            cursor: pointer;
          }
          .wishlist {
            border: none;
          }
          .compare {
            padding-top: 10px;
            a {
              &:before {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    @media (min-width: $screen-lg) {
      // min 1200px
      &:hover {
        .product-image-container {
          .quick-view {
            display: block;
          }
        }
      }
    }
    @media (max-width: $screen-xs - 1) {
      // max 479px
      text-align: center;
    }
  }
}

/*******************************************************
Product list(Index page) Styles
********************************************************/

#index {
  ul.product_list.tab-pane {
    > li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      @media (min-width: $screen-lg) {
        margin-bottom: 0;
        // min 1200px
        padding-bottom: 85px;
      }
      .availability {
        display: none;
      }
      @media (min-width: $screen-lg) {
        // min 1200px
        &.last-line {
          margin-bottom: 0;
          padding-bottom: 0;

          border: none;
        }
      }
      @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        // min 480px max 767px
        &.first-item-of-tablet-line {
          clear: none;
        }
        &.first-item-of-mobile-line {
          clear: left;
        }
      }
    }
  }
}
/***** IE code *****/

.ie8 {
  .quick-view {
    border: 1px solid $base-border-color;
    background: #fff;
  }
}
