@import 'theme_variables';

/********************************************************
      Scenes Styles
********************************************************/

#scenes .popover-button span {
  font-size: 28px;

  display: block;

  text-align: center;
  &:before {
    font-family: $font-icon;

    display: block;

    content: '\f0fe';
    vertical-align: 5px;

    color: grey;
  }
}

.thumbs_banner {
  width: 100%;
  height: 62px !important;
  margin: 10px auto;
  padding: 0;

  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;
  .space-keeper {
    display: block;
    float: left;

    width: 21px;
    height: 100%;
    a.prev {
      display: none;

      width: 21px;

      text-decoration: none;

      color: $base-text-color;
      background: $base-box-bg;
      &:before {
        font-family: $font-icon;

        padding-top: 35px;
        padding-left: 5px;

        content: '\f053';
        vertical-align: middle;
      }
    }
    a.next {
      display: block;
      float: left;

      width: 21px;

      text-decoration: none;

      color: $base-text-color;
      background: $base-box-bg;
      &:before {
        font-family: $font-icon;

        padding-top: 35px;
        padding-left: 5px;

        content: '\f054';
        vertical-align: middle;
      }
    }
  }
}

#scenes_list {
  float: left;
  overflow: hidden;

  width: 828px;
  ul {
    list-style-type: none;
  }
  li {
    float: left;
  }
  a {
    display: block;
  }
}

#scenes {
  a.popover-button {
    position: absolute;

    display: block;

    text-decoration: none;
  }
  .popover {
    border-color: $base-border-color;

    @include border-radius(0);
  }
  .product-image-container,
  .product-name {
    margin-bottom: 15px;
  }
  div.description {
    margin-bottom: 15px;
  }
  .button-container {
    margin-bottom: 15px;
    a {
      text-decoration: none;
    }
  }
  .price {
    margin-bottom: 10px;
  }
  @media  (max-width: $screen-md-max) {
    // max 1199px
    display: none;
  }
}
