@import '../../_theme_variables';

/* Block newsletter */
#columns #newsletter_block_left {
  .form-group {
    margin-bottom: 0;
    .form-control {
      display: inline-block;

      max-width: 222px;
      margin-right: 6px;
      @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
        margin-right: 0;
        // min 768px max 1199px
        margin-bottom: 10px;
      }
    }
  }
  .success_inline,
  .warning_inline {
    margin-bottom: -19px;
    padding: 1px 0 0 0;

    text-align: left;
  }
  .success_inline {
    color: #418b19;
  }
  .warning_inline {
    color: #f13340;
  }
}
/* Block newsletter footer */
#footer {
  #newsletter_block_left {
    float: left;
    overflow: hidden;

    width: 50%;
    margin-bottom: 0;
    padding: 13px 15px 7px 15px;
    @media (max-width: $screen-xs-max) {
      // max 767px
      width: 100%;
    }
    h4 {
      font-size: 21px;
      line-height: 25px;

      float: left;

      padding: 7px 16px 5px 0;

      text-transform: none;

      border: none;
      background: none;
      &:after {
        display: none;
      }
    }
    .block_content {
      overflow: hidden;
    }
    .form-group {
      margin-bottom: 0;
      .form-control {
        display: inline-block;
        float: left;

        max-width: 267px;
        height: 45px;
        padding: 10px 43px 10px 12px;

        color: $light-text-color;
        border-color: #515151;
        background: #3c3c3c;
        &:focus {
          @include box-shadow(black 0px 0px 0px);
        }
      }
      .button-small {
        margin-left: -43px;
        padding: 8px;

        text-align: center;

        color: #908f8f;
        border: none;
        background: none;
        &:before {
          font-family: $font-icon;
          font-size: 28px;
          line-height: 28px;

          content: '\f138';
        }
        &:hover {
          color: $light-text-color !important;
        }
        span {
          display: none;
        }
      }
    }
    .warning_inline {
      font-size: 13px;
      line-height: 26px;

      display: block;
      clear: both;

      color: #f13340;
      @media (min-width: $screen-lg) {
        position: relative;
        top: -35px;
        left: 15px;
        // min 1200px

        display: inline-block;
        clear: none;

        margin-bottom: -35px;
      }
    }
    .newsletter-input {
      max-width: 300px !important;
    }
  }
}
