@import '../../_theme_variables';

.header_user_info {
  float: right;

  border-right: 1px solid #515151;
  border-left: 1px solid #515151;
  a {
    font-weight: bold;
    line-height: 18px;

    display: block;

    padding: 8px 9px 11px 8px;

    cursor: pointer;

    color: $light-text-color;
    @media (max-width: $screen-xs - 1) {
      font-size: 11px;
    }
    &:hover,
    &.active {
      background: #2b2b2b;
    }
  }
}
