@import '../../_theme_variables';
#search_block_top {
  padding-top: 50px;
  #searchbox {
    float: left;

    width: 100%;
  }
  .btn.button-search {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 50px;
    padding: 10px 0 11px 0;

    text-align: center;

    color: $light-text-color;
    border: none;
    background: $dark-background;
    span {
      display: none;
    }
    &:before {
      font-family: $font-icon;
      font-size: 17px;

      display: block;

      width: 100%;

      content: '\f002';
      text-align: center;
    }
    &:hover {
      color: #6f6f6f;
    }
  }
  #search_query_top {
    display: inline;

    height: 45px;
    margin-right: 1px;
    padding: 13px 60px 13px 13px;

    background: $base-box-bg;
  }
}

.ac_results {
  width: 271px;
  margin-top: -1px;

  border: 1px solid $base-border-color;
  background: $light-background;
  li {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;

    padding: 0 10px;

    color: #686666;
    &.ac_odd {
      background: $light-background;
    }
    &:hover,
    &.ac_over {
      background: $base-box-bg;
    }
  }
}

form#searchbox {
  position: relative;
  label {
    color: $base-text-color;
  }
  input#search_query_block {
    display: inline-block;
    float: left;

    max-width: 222px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .button.button-small {
    float: left;
    i {
      margin-right: 0;
    }
  }
}
